.darkmode{
    background-color:#3B3B3B;
    color:white;
}

.img img{
    width:100%;
}
.table-h{
    text-align: center;
    padding:20px;
    margin:20px;
    font-size: 2rem;
    text-decoration: underline;
    
}
#btnSwitch{
    margin-left:5px;
}
.active{
    background-color:#F2F2F2;
}
